<script>
  import { onDestroy, onMount } from "svelte";
  import { selectedTab } from "./stores.js";
  import Donator from "./Donator.svelte";
  import DonatorList from "./DonatorList.svelte";
  import Data from "./Data.svelte";
  import Onboard from "./Onboard.svelte";

  let selectedTabValue;
  let unsubscribe;
  let showOnboarding = false;
  let initing = true;

  async function init() {
    const checks = await window.electron.ipcRenderer.invoke("init.readyChecks");

    if (!Object.values(checks).every((x) => x === true)) {
      showOnboarding = true;
    }

    initing = false;
  }

  onMount(() => {
    init();

    unsubscribe = selectedTab.subscribe((value) => {
      selectedTabValue = value;
    });

    console.log("=== loading done");
  });

  onDestroy(() => {
    unsubscribe?.();
  });
</script>

<main class="w-[100vw] p-0 dark:bg-base-100">
  <div
    class="print:hidden drag sticky z-10 dark:bg-base-100 top-0 left-0 px-4 mb-4 py-2 font-bold text-center border-b border-b-neutral"
  >
    SmurfWatch
  </div>

  {#if initing}
    <div class="w-full flex justify-center items-center p-8">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  {:else if showOnboarding}
    <Onboard />
  {:else}
    <div class="px-4 mr-4">
      <div class="print:hidden navbar gap-2">
        <div class="flex-1">
          {#each ["Donators", "Donator", "Data"] as tab}
            <a
              href=""
              class="btn btn-ghost"
              on:click={() => selectedTab.set(tab.toLowerCase())}
              class:btn-active={selectedTabValue === tab.toLowerCase()}>{tab}</a
            >
          {/each}
        </div>
        <div class="flex-none">
          <a
            href=""
            class="btn btn-ghost"
            on:click={() => selectedTab.set("config")}
            class:btn-active={selectedTabValue === "config"}
          >
            Config
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" class="stroke-slate-400 fill-slate-400">
              <g>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M11.808 7.727c0 0.05 0.017 0.1 0.048 0.14l0.667 0.84a0.96 0.96 0 0 1 0.082 1.08l-0.392 0.676a0.96 0.96 0 0 1 -0.975 0.47l-1.063 -0.16a0.23 0.23 0 0 0 -0.145 0.027l-1.26 0.727a0.228 0.228 0 0 0 -0.096 0.112l-0.392 1a0.96 0.96 0 0 1 -0.893 0.611h-0.782a0.96 0.96 0 0 1 -0.893 -0.61l-0.392 -1a0.228 0.228 0 0 0 -0.096 -0.113L3.967 10.8a0.23 0.23 0 0 0 -0.145 -0.028l-1.063 0.162a0.96 0.96 0 0 1 -0.976 -0.47l-0.39 -0.677a0.96 0.96 0 0 1 0.08 -1.08l0.67 -0.84a0.223 0.223 0 0 0 0.05 -0.14V6.273c0 -0.05 -0.018 -0.1 -0.05 -0.14l-0.67 -0.84a0.96 0.96 0 0 1 -0.08 -1.08l0.39 -0.676a0.96 0.96 0 0 1 0.976 -0.47l1.06 0.16a0.23 0.23 0 0 0 0.145 -0.027l1.262 -0.73a0.229 0.229 0 0 0 0.096 -0.113l0.394 -0.996A0.96 0.96 0 0 1 6.61 0.75h0.784a0.96 0.96 0 0 1 0.893 0.61l0.392 0.997c0.018 0.049 0.052 0.09 0.096 0.116l1.26 0.727a0.23 0.23 0 0 0 0.145 0.028l1.062 -0.162a0.96 0.96 0 0 1 0.976 0.47l0.391 0.677a0.96 0.96 0 0 1 -0.081 1.08l-0.67 0.84a0.223 0.223 0 0 0 -0.049 0.14v1.454Z"
                  stroke-width="1"
                  stroke="currentColor"
                ></path><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  stroke="currentColor"
                  d="M7 8.996c1.277 0 1.996 -0.719 1.996 -1.996 0 -1.277 -0.719 -1.996 -1.996 -1.996 -1.277 0 -1.996 0.719 -1.996 1.996 0 1.277 0.719 1.996 1.996 1.996Z"
                ></path>
              </g>
            </svg> -->
          </a>
        </div>

        <!-- <a href class="tab tab-lifted" on:click={() => (selectedTab = "list")} class:tab-active={selectedTab === "list"}
      >Donator List</a
    >
    <a
      href
      class="tab tab-lifted"
      on:click={() => (selectedTab = "donator")}
      class:tab-active={selectedTab === "donator"}>Donator</a
    > -->
      </div>

      <br />

      <div>
        {#if selectedTabValue === "donators"}
          <DonatorList />
        {:else if selectedTabValue === "donator"}
          <Donator />
        {:else if selectedTabValue === "data"}
          <Data />
        {:else if selectedTabValue === "config"}
          <Onboard />
        {/if}
      </div>
    </div>
  {/if}
</main>

<style>
  /* :root {
    font-family:
      Avenir,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  } */
</style>
