<script>
  import * as cheerio from "cheerio";
  import { onMount } from "svelte";

  const domain = "https://www.fec.gov";

  let loading = true;
  let remoteFiles = [];
  let localFiles = [];
  let files = [];

  async function remoteFileSize(file) {
    if (file.totalBytes) return humanSize(file.totalBytes);

    const size = (await fetch(`${domain}/${file.href}`, { method: "HEAD" })).headers.get("content-length");
    file.totalBytes = parseFloat(size, 10);

    files = [...files.filter((f) => f !== file), file];

    return humanSize(size);
  }

  function humanSize(bytes, decimals = 0) {
    if (!+bytes) return "0b";

    const k = 1024;
    const sizes = ["b", "kb", "mb", "gb", "tb"];

    const i = Math.floor(Math.log(bytes) / Math.log(k));

    if (i >= 3) decimals = 1;
    const dm = decimals < 0 ? 0 : decimals;

    return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`;
  }

  async function fetchRemoteFiles() {
    console.log("fetchRemoteFiles...");
    const filesHtml = await (await fetch("https://www.fec.gov/data/browse-data/?tab=bulk-data")).text();

    const $ = cheerio.load(filesHtml);

    remoteFiles = await Promise.all(
      $('[href*="indiv"]')
        .toArray()
        .filter((x) => x.attribs.href?.indexOf("zip") > -1)
        .map(async (x) => {
          const file = {
            href: x.attribs.href,
            text: x.children[0].data,
          };

          const size = (await fetch(`${domain}/${file.href}`, { method: "HEAD" })).headers.get("content-length");
          file.totalBytes = parseFloat(size, 10);

          return file;
        })
    );
  }

  async function listLocalFiles() {
    localFiles = await window.electron.ipcRenderer.invoke("list-files");
  }

  window.electron.ipcRenderer.on("download-info", (event, arg) => {
    const file = files.find((x) => x.filename === arg.filename);

    if (file) {
      file.state = arg.state;
      file.receivedBytes = arg.receivedBytes;
      file.percent = (file.receivedBytes / file.totalBytes) * 100;

      // console.log(`${file.state} - ${file.receivedBytes} / ${file.totalBytes}`);

      console.log(file);

      files = files;
    }
  });

  window.electron.ipcRenderer.on("processing-info", (event, arg) => {
    console.log("processing-info", arg);

    let file = files.find((x) => x.filename === arg.filename);
    // console.log("processing-info", { arg, file });

    if (file && arg.eventType == "zip_file") {
      file.state = arg.state;
      file.progress = arg.progress;
      file.currentFile = arg.currentFile;
      file.processed = arg.processed;

      console.log(file);

      files = files;
    }
  });

  onMount(async () => {
    await fetchRemoteFiles();
    await listLocalFiles();

    files = remoteFiles.map((r) => {
      r.filename = r.href?.substring(r.href?.lastIndexOf("/") + 1);

      const localFile = localFiles.find((l) => l.filename === r.filename);

      return {
        ...r,
        ...localFile,
        filename: r.href?.substring(r.href?.lastIndexOf("/") + 1),
        downloaded: localFile?.receivedBytes === r.totalBytes, // TODO: can probably remove because this is not used
      };
    });

    console.log({ files });

    loading = false;
  });

  function download(file) {
    window.electron.ipcRenderer.send("download", file);
  }

  function process(file) {
    // TODO: send the file name (e.g. "2023-2024") along as a parameter that we can store in the db
    window.electron.ipcRenderer.send("process", file);
  }
</script>

<main class="container max-w-full">
  <div class="py-4">
    <h1 class="text-3xl">Files</h1>
    {#if loading}
      <div class="w-full flex justify-center items-center p-8">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
    {:else}
      <!-- TODO: Need to fetch distinc zipfiles from the db and figure out which date they cover. -->
      <!-- TODO: Need to show downloading/progressing files at top -->
      <div class="mt-4 flex flex-col">
        {#each files as file, i}
          <div class="border-2 rounded-lg border-neutral m-2 p-2 flex justify-between align-center">
            <div class="flex justify-center">
              <div class="flex flex-col justify-center">
                <span class="mx-4 text-2xl inline-block align-middle">{file.text}</span>
              </div>
              <div class="flex flex-col justify-center">
                <span class="badge badge-neutral">
                  {#await remoteFileSize(file)}
                    <!-- Nothing -->
                  {:then value}
                    {value}
                  {/await}
                </span>
              </div>
            </div>
            <div class="flex flex-col justify-center h-12">
              {#if file.state && file.receivedBytes < file.totalBytes}
                <div class="grid">
                  <progress
                    class="progress progress-primary mx-2 w-32 animate-pulse h-[100%] col-start-1 row-start-1"
                    value={file?.percent?.toFixed(0) || 50}
                    max="100"
                  />
                  <span class="col-start-1 row-start-1 text-center m-2 w-32 h-[75%] align-middle z-10"
                    >{file?.percent?.toFixed(1)}%</span
                  >
                </div>
              {:else if file.totalBytes && file.receivedBytes >= file.totalBytes && file.state !== "processed" && !file.processed}
                {#if file.state === "processing"}
                  <div class="m-2 w-full pr-4 text-right flex flex-col">
                    <progress
                      class="progress progress-secondary animate-pulse w-32 self-end"
                      value={file.progress || 0}
                      max="100"
                    />
                    <small class="italic text-slate-400">{file.currentFile}</small>
                  </div>
                  <!-- TODO: add most recently extracted filename, i.e. whatever's being inserted into the db atm -->
                {:else}
                  <button class="btn btn-secondary m-2 w-32" on:click={() => process(file)}> Extract </button>
                {/if}
              {:else if file.totalBytes && file.receivedBytes >= file.totalBytes && file.processed}
                <div class="w-32 m-2 flex justify-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="stroke-2 w-12 h-12 stroke-green-500"
                  >
                    <path
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                    />
                  </svg>
                </div>
              {:else}
                <button class="btn btn-primary m-2 w-32" on:click={download(file)}>Download</button>
              {/if}
            </div>
          </div>
        {/each}
      </div>
    {/if}
  </div>
</main>
