<script>
  import { onMount } from "svelte";
  import MultiSelect from "svelte-multiselect";
  import prettyMs from "pretty-ms";
  import { selectedDonator, selectedTab } from "./stores";
  import storage from "./storage";
  import states from "./states";

  const USDollar = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });

  let loading = false;
  let selectedState = "MI";
  let selectedDirs = [];
  let yearList = [];
  let donators = [];
  let fetchTime = 0;
  let filter = "";
  let filteredDonators = [];

  $: {
    if (!filter) filteredDonators = donators;
    else {
      filteredDonators = donators.filter((d) => d.name.toLowerCase().includes(filter.toLowerCase()));
    }
  }

  async function getDonators() {
    loading = true;
    try {
      fetchTime = "";
      const startTime = new Date().getTime();
      // const yearFilter = selectedYear
      //   ? `AND toYear(parseDateTimeOrNull(transaction_dt, '%m%d%Y')) = ${selectedYear}`
      //   : ""; // Conditional year filter
      const result = await window.clickhouse.query(
        `
        SELECT
          name, city, state, substring(zip_code, 1, 5) as zip_code, employer, toStartOfDay(parseDateTimeOrNull(transaction_dt, '%m%d%Y')) as "day",
          toInt32(count(tran_id)) as txns, sum(transaction_amt) as amt 
        FROM x
        WHERE state = '${selectedState}' and transaction_amt > 0
        GROUP BY name, city, state, zip_code, employer, "day"
        HAVING COUNT(tran_id) >= 10
      `,
        { dirs: selectedDirs.map((x) => x.dir) }
      );
      fetchTime = prettyMs(new Date().getTime() - startTime);

      console.log({ result });

      const uniqDonators = result.reduce((acc, row) => {
        const donatorId = `${row.name}-${row.city}-${row.state}-${row.zip_code}-${row.employer}`;
        acc[donatorId] = acc[donatorId] || {
          name: row.name,
          city: row.city,
          state: row.state,
          zip_code: row.zip_code,
          employer: row.employer,
          txns: 0,
          amt: 0,
        };

        acc[donatorId].txns += row.txns;
        acc[donatorId].amt += row.amt;

        return acc;
      }, {});

      donators = Object.values(uniqDonators).sort((a, b) => b.txns - a.txns);
    } catch (err) {
      console.log({ err });
    }

    loading = false;
  }

  onMount(async () => {
    selectedState = storage.get("selectedState") || "MI";
    const _dirs = storage.get("selectedDirs");
    console.log({ _dirs });
    try {
      selectedDirs = _dirs ? JSON.parse(_dirs) : [];
    } catch {
      selectedDirs = [];
      storage.set("selectedDirs", []);
    }
    console.log({ selectedDirs });

    const localExtractedDirs = await window.electron.ipcRenderer.invoke("extracted-dirs");

    yearList = localExtractedDirs
      .sort()
      .reverse()
      .map((d) => {
        // d is formatted as 'indiv22' where it has data from 2019-2022

        // return a map that has the dir name and then a label showing year start to year end
        const year = d.replace("indiv", "");
        const prefix = year >= 90 ? "19" : "20";

        return {
          dir: d,
          label: `${prefix}${year - 1} - ${prefix}${year}`,
        };
      });

    setTimeout(() => getDonators());
  });

  async function changeState(state) {
    selectedState = state;
    storage.set("selectedState", state);
    await getDonators();
  }

  function onSelectedDirsChange() {
    storage.set("selectedDirs", JSON.stringify(selectedDirs)); // Store selected years in localStorage
  }

  async function refresh() {
    await getDonators();
  }

  function viewDonator(d) {
    selectedDonator.set(d);
    selectedTab.set("donator");
  }
</script>

<main>
  <div>
    <div class="form-control w-full">
      <div class="flex flex-row gap-2 w-full items-end">
        <div>
          <div class="label">
            <span class="label-text">State</span>
          </div>
          <select
            class="select select-bordered w-64 border-slate-700"
            bind:value={selectedState}
            on:change={(event) => changeState(event.target.value)}
          >
            {#each states as state}
              <option>{state}</option>
            {/each}
          </select>
        </div>
        <div>
          <div class="label">
            <span class="label-text">Year</span>
          </div>
          {#if yearList.length > 0}
            <MultiSelect
              placeholder="All"
              outerDivClass="input input-select !border !border-slate-700 !rounded-lg"
              ulOptionsClass="!bg-base-100"
              bind:selected={selectedDirs}
              on:change={onSelectedDirsChange}
              options={yearList}
            />
          {/if}
        </div>
        <button class="btn btn-primary ml-4" on:click={refresh}>Refresh</button>
        <div class="flex flex-row items-center h-[50px]">
          <span>{fetchTime || ""}</span>
        </div>
        <div class="flex-grow flex justify-end">
          <input
            type="text"
            class="input input-bordered w-96 max-w-1/2"
            placeholder="Search"
            on:change={(event) => (filter = event.target.value)}
          />
        </div>
      </div>
    </div>

    {#if loading}
      <div class="w-full flex justify-center items-center p-8">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
    {:else}
      <table class="table table-zebra mt-8">
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Employer</th>
            <th>Transactions</th>
            <th>Min. Amount</th>
          </tr>
        </thead>
        <tbody>
          {#each filteredDonators as d, i}
            <tr>
              <td>
                <a
                  href="#"
                  class="overflow-hidden overflow-ellipsis text-left whitespace-nowrap underline"
                  on:click={() => viewDonator(d)}>{d.name}</a
                >
              </td>
              <td>{d.city}</td>
              <td>{d.state}</td>
              <td>{d.zip_code}</td>
              <td>{d.employer}</td>
              <td>{d.txns}</td>
              <td>{USDollar.format(d.amt)}</td>
            </tr>
          {/each}
          <!-- row 2 -->
        </tbody>
      </table>
    {/if}
  </div>
</main>
