<script>
  import { onMount } from "svelte";

  let checks = {};
  let clickhousePath;
  let dataPath;
  let initing = true;

  async function init() {
    initing = true;

    const _clickhousePath = await window.electron.ipcRenderer.invoke("getStoreValue", "clickhousePath");
    const _dataPath = await window.electron.ipcRenderer.invoke("getStoreValue", "dataPath");

    if (_clickhousePath) clickhousePath = _clickhousePath;
    if (_dataPath) dataPath = _dataPath;

    checks = await window.electron.ipcRenderer.invoke("init.readyChecks");

    console.log({ checks });

    initing = false;
  }

  onMount(async () => {
    init();
  });

  async function editClickhousePath(event) {
    const path = await window.electron.ipcRenderer.invoke("dialog:openFile", {
      defaultPath: clickhousePath,
      properties: ["openFile"],
    });

    if (path) await window.electron.ipcRenderer.invoke("setStoreValue", "clickhousePath", path);

    // Re-run init
    await init();
  }

  async function openLink(url) {
    await window.electron.ipcRenderer.send("openLink", url);
  }

  async function editDataPath(event) {
    const path = await window.electron.ipcRenderer.invoke("dialog:openFile", {
      defaultPath: dataPath,
      properties: ["openDirectory"],
    });

    console.log({ path });

    if (path) await window.electron.ipcRenderer.invoke("setStoreValue", "dataPath", path);

    // Re-run init
    await init();
  }

  function copyDataPath() {
    navigator.clipboard.writeText(dataPath);
  }
</script>

<div class="flex justify-center">
  <div class="w-[75vw]">
    <h1 class="text-3xl text-center my-2">Welcome to SmurfWatch!</h1>
    <p class="text-center">This is a tool to help you track and investigate political donations.</p>

    {#if initing}
      <div class="w-full flex justify-center items-center p-8">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
    {:else}
      <div class="mt-16 flex flex-col gap-16">
        <!-- Clickhouse Path -->
        <div class="flex flex-col gap-4 w-full">
          <div class="flex flex-row gap-4">
            <strong>Clickhouse executable location</strong>
            <a
              href="#"
              on:click={() => openLink("https://clickhouse.com/docs/en/install#quick-install")}
              class="btn btn-xs btn-accent btn-outline"
            >
              Install Instructions
            </a>
          </div>

          <small>
            ClickHouse is a powerful database management system that helps organize and analyze large volumes of data
            quickly. We're using it to query against downloaded data files because it's efficient and allows us to run
            complex queries on the data without needing to move it to a separate database.
          </small>
          {#if checks?.clickhouseOk !== true}
            <div role="alert" class="alert alert-info w-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="stroke-current shrink-0 w-6 h-6"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path></svg
              >
              <p>
                {checks?.clickhouseOk?.message}
              </p>
            </div>
          {/if}
          <div>
            <button
              class="max-w-lg text-left border border-slate-700 p-3 rounded-md w-fullcursor-pointer overflow-hidden whitespace-nowrap overflow-ellipsis"
              on:click={editClickhousePath}
            >
              {#if clickhousePath}{clickhousePath}{:else}Click to set path{/if}
            </button>
          </div>
        </div>
        <!-- End Clickhouse Path -->

        <!-- Data Directory -->
        <div class="flex flex-col gap-4 w-full">
          <div class="flex flex-row gap-4">
            <strong>Data Directory</strong>
          </div>

          <small>
            This is where data files downloaded from the public <a
              href="#"
              class="link link-primary"
              on:click={() => openLink("https://www.fec.gov/data/browse-data/?tab=bulk-data")}>FEC reporting website</a
            > will be stored. Keep in mind that they are very large (more than 10gb for election years, when uncompressed)
            so you will need plenty of disk space.
          </small>
          {#if checks?.dataDirectoryOk !== true}
            <div role="alert" class="alert alert-info w-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="stroke-current shrink-0 w-6 h-6"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path></svg
              >
              <p>
                {checks?.dataDirectoryOk?.message}
              </p>
            </div>
          {/if}
          <div class="flex flex-row gap-2">
            <button
              class="max-w-lg text-left border border-slate-700 p-3 rounded-md w-fullcursor-pointer overflow-hidden whitespace-nowrap overflow-ellipsis"
              on:click={editDataPath}
            >
              {#if dataPath}{dataPath}{:else}Click to set path{/if}
            </button>
            <button class="btn btn-primary" on:click={copyDataPath}>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-white fill-white size-8" viewBox="0 0 14 14"
                ><g
                  ><path
                    id="Vector"
                    stroke="#000000"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M8.5 3.5v-1c0 -0.26522 -0.10536 -0.51957 -0.29289 -0.70711C8.01957 1.60536 7.76522 1.5 7.5 1.5h-1"
                    strokeWidth={1}
                  /><path
                    id="Vector_2"
                    stroke="#000000"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M4 10.5H1.5c-0.26522 0 -0.51957 -0.1054 -0.707107 -0.2929C0.605357 10.0196 0.5 9.76522 0.5 9.5v-7c0 -0.26522 0.105357 -0.51957 0.292893 -0.70711C0.98043 1.60536 1.23478 1.5 1.5 1.5h1"
                    strokeWidth={1}
                  /><path
                    id="Vector_3"
                    stroke="#000000"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M12.5 5.5h-5c-0.55228 0 -1 0.44772 -1 1v6c0 0.5523 0.44772 1 1 1h5c0.5523 0 1 -0.4477 1 -1v-6c0 -0.55228 -0.4477 -1 -1 -1Z"
                    strokeWidth={1}
                  /><path
                    id="Vector_4"
                    stroke="#000000"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M6.75 0.5h-4.5l0.41 1.62c0.02498 0.10843 0.08611 0.20513 0.17335 0.27419 0.08724 0.06906 0.19538 0.10638 0.30665 0.10581h2.72c0.11127 0.00057 0.21941 -0.03675 0.30665 -0.10581 0.08724 -0.06906 0.14837 -0.16576 0.17335 -0.27419L6.75 0.5Z"
                    strokeWidth={1}
                  /><path
                    id="Vector_5"
                    stroke="#000000"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M8.5 8.5h3"
                    strokeWidth={1}
                  /><path
                    id="Vector_6"
                    stroke="#000000"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M8.5 10.5h3"
                    strokeWidth={1}
                  /></g
                ></svg
              >
            </button>
          </div>
        </div>
      </div>
    {/if}
  </div>
</div>
